.CWrapper {
    text-align: center;
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(113, 113, 113);
}
.calender {
    width: 500px;
    height: 500px;
    background-color: rgb(191, 144, 144);
    margin: 10% 5%;
}
.events{
    width: 300px;
    height: 500px;
    margin: 10% 10%;
    background-color: rgb(229, 127, 127);
}
